.sticky{

	position: sticky;
	top: 0;
	padding: 5px
	background-color: #cae8ca;
	border: 2px solid #D16565;
	z-index: 2
}
.navbar{
	background-color: #D16565;
	z-index:2

}
.navbar .container-fluid .navbar-header .navbar-brand p {
	font-family: Blackadder ITC; 
	color:#000000 ;
	font-size: 200%
}
.collapse ul li img {
	width: 20px; height: 20px 
}
nav.navbar ul.nav.navbar-nav li.active a{
	background-color: red;
}
.navbar-form .form-group input {
	width: 450px;
}
.container-fluid{
	background-color: #FFFFFF
}
.container-fluid .col-sm-2 div p.active{
	background-color: red;

}
.carousel-inner .item a img {
	width: 100%;
	height: 300px;
}
.col-sm-6 .row .panel-heading b{
	size: 30px;
	color: #FF89DA;
}
.col-sm-6 .row .panel-body b{
	color: #FF0000
}
.col-sm-6 form input img{
	width: 60px; height: 25px
}
.container-fluid .row .col-sm-3 .panel-heading b{
	size: 30px;
	color: #FB4850;
}
.col-sm-4 .panel .panel-body img{
	width: 100px; height: 100px
}
.col-sm-3 .panel .panel-body img{
	width: 100px; height: 100px

}
.col-sm-4 p span {
	color: red;
}
.col-sm-4 p a img {
	width: 20px; height: 20px;
}
.col-sm-4 div img{
	width: 20px; height: 20px
}
.col-sm-4 ul li {
	float: left; margin-left: 10px
}
.col-sm-4 ul li img {
	width: 40px; height: 40px;
}
.col-sm-4 button a {
	text-decoration: none; color: white;
}
.collapse form button {
	height: 35px; background-color: #EFE1E1

}
@keyframes my { 
	0% { color: #FF0000;  } 
	25% { color: #FFEA00;  }
	50% { color: #000CFF;}
	75%{color:#00FFCC ;}
	100% {color: #36FF00}
} 
.test {
	background-color: #;
	font-size: 100px;
	font-weight:bold;
	
	animation: my 3s infinite;
}
.btn {
	border: none; /* Remove borders */
	color: white; /* Add a text color */
	padding: 14px 28px; /* Add some padding */
	cursor: pointer; /* Add a pointer cursor on mouse-over */
}

.success {background-color: #E26E6E;} /* */
.success:hover {background-color: #F9071E;}
ul li {
	list-style: none;
}
